#notification-img {
    height: 40px;
    background-color: lightgray;
}

.link-to-profile {
    color: var(--secondary-gray);
    text-decoration: none;
}

.link-to-profile:hover {
    color: var(--primary-orange);
}

.toast-is-read-false {
    border: 1px solid var(--primary-orange);
}