.card-hover {
  transition: transform 0.3s ease-in-out;
  margin-top: 20px; 
}

.card-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  height: 210px;  
  object-fit: cover;  
}

